In [1]:
import sqlite3
import pandas as pd
from pyprojroot import here

In [2]:
# Connect to SQLite database
db_path = here('data/projects_sqldb.db')
conn = sqlite3.connect(db_path)

In [3]:
# Get list of all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)
tables

             name
0  project_titles

In [5]:
query = """SELECT * from project_titles where name='Parvesh Saini';"""
tables = pd.read_sql(query, conn)
tables

,Group ID,Name,Roll No,Project Tile,Supervisor Name
0,54,Parvesh Saini,2021UCS1582,Agentic AI for Scalable Text-to-SQL and RAG Op...,Dr. Poonam Rani